:root {
    /* Didn't feel the need to use it? */
}

nav {
    background-color: #FCD34D;
    margin: 0px;
    padding: 8px;
    text-align: center;
}

body {
    margin-top: 0px;
    background-image: url(https://images.unsplash.com/photo-1583361703300-bf0a4dc1723c?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8ZGljdGlvbmFyeSUyMHN2Z3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60;);

}


#main-content {
    margin: 2vh 10%;
    background-color: white;
    padding: 16px;
    /* min-height: 40vh; */
    display: block;
    height: 80vh;
    border-radius: 2.5rem;

}

#txt-area {
    display: inline-block;
    border: ridge 4px;
    width: 30%
}

/* .search_box {
    display: flex;
    width:30%;
}
#txt_area{
    border: solid 4px red;
    background: red;
    
    border-right: none;
    height:20px;
} */

#searchButton {}

/* 
#output-div{
    margin: 78px auto 0;
    min-height: 60vh;
    max-height:80vh;
    width:70vw;
    padding: 8px;
    border:solid 1px gray; 
}*/
#output-div {
    background-color: #ffe39f;
    display: block;
    margin: auto;
    min-height: 65vh;
    max-height: 100vh;
    min-width: 20%;
    max-width: 60%;
    justify-content: center;
    border: 1px grey;
    border-radius: 2.5rem;
    box-shadow: 4px 4px 16px;
    /* vertical-align: middle; */
    flex-direction: column;
    /* align-items: center; */
}

/* .card-content {
    margin-bottom: 5px;
    background-color: white;
    padding: 8px;
    align-items: center;
    vertical-align: middle;
    min-height: 10vh;
    max-height: 40vh;
    width: 50vh;
    border-radius: 2.5rem;
    box-shadow: 1px 1px 3px;
} */

#input-div1 {
    padding: 8px;

}

#input-div2 {
    padding: 8px;

}

#input-div3 {
    padding: 8px;
}

#input-div4 {
    padding: 8px;
}